version: 2.1
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo hello
          #command: |
          #  echo hello
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo world
          #command: |
          #  echo world
  env-var-test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo $my_name
workflows:
  welcome:
    jobs:
      - print_hello
      - print_world:
          requires:
            - print_hello
