version: 2.1
commands:
  print_pipeline_id:
    description: This prints the CircleCI pipeline ID
    steps:
      - run: echo $CIRCLE_WORKFLOW_ID
jobs:
  say_pipeline_id:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id
workflows:
  welcome:
    jobs:
      - say_pipeline_id


