version: 2.1

defaults: &defaults
    docker:
      - image: circleci/node:13.8.0

commands:
  print_pipeline_id:
    description: This prints the CircleCI pipeline ID
    parameters:
      id:
        type: string
    steps:
      - run: echo << parameters.id >>

jobs:
  print_hello:
    <<: *defaults
    steps:
      - run: echo hello
          #command: |
          #  echo hello
  print_world:
    <<: *defaults
    steps:
      - run: echo world
          #command: |
          #  echo world
  env-var-test:
    <<: *defaults
    steps:
      - run: echo $my_name
  save_hello_world_output:
    <<: *defaults
    steps:
      - run: echo "hello world" > /tmp/output.txt
          #command: |
          #  echo hello
      - persist_to_workspace:
          root: /tmp/
          paths:
            - output.txt
  print_output_file:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/
      - run: cat /tmp/output.txt
  say_pipeline_id:
    <<: *defaults
    steps:
      - print_pipeline_id:
          id: << pipeline.id >>
  #a_failed_job:
  #  <<: *defaults
  #  steps:
  #    - run: exit 1
  #    - run: 
  #        command: echo "Hello ERROR!"
  #        when: on_fail
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Build infrastructure
          command: |
            aws cloudformation deploy \
            --template-file template.yml \
            --stack-name cicd-test-deploy

workflows:
  welcome:
    jobs:
      - print_hello
      - print_world:
          requires:
            - print_hello
      - env-var-test
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
      - say_pipeline_id
  #    - a_failed_job
      - create_infrastructure
